---
import Layout from "../../layouts/haikus-layout.astro";
import Bambu from "./icons/bambu.astro";
---

<Layout>
    <div class="flex justify-center items-center absolute inset-0">
        <slot />
    </div>
    <div class="flex justify-between">
        <div class="absolute bottom-0 left-0">
            <Bambu />
        </div>
        <div class="absolute bottom-20 left-0">
            <Bambu />
        </div>
        <div class="absolute bottom-40 left-0">
            <Bambu />
        </div>

        <div class="absolute bottom-40 right-0">
            <Bambu />
        </div>
        <div class="absolute bottom-20 right-0">
            <Bambu />
        </div>
        <div class="absolute bottom-0 right-0">
            <Bambu />
        </div>
    </div>
</Layout>
