---
import Layouts from "../../layouts/haikus-layout.astro";
import Cat from "../../home/icons/gato1.astro";
import Floral from "../../home/icons/floral.astro";
---

<Layouts>
    <div class="absolute  bottom-0">
        <Floral />
    </div>
    <div class="h-screen flex justify-center items-center w-screen">
        hola soy german
    </div>


</Layouts>
