---
import Gato from "../../backgrounds/A-gato/A-gato-theme.astro";
---

<Gato>
    <div class="flex flex-col text-center">
        <div>palabras que</div>
        <div>burbujean como</div>
        <div>un refresco</div>
    </div>
</Gato>
