---
import Layouts from "../../layouts/haikus-layout.astro";
import Cat from "../../home/icons/gato1.astro";
import Lupa from "../../home/icons/lupa.astro";
---

<Layouts>
    <div class="flex justify-end">
        <div class="absolute bottom-0 right-0">
            <Cat />
        </div>
    </div>
</Layouts>
