---
import Layout from "../../layouts/haikus-layout.astro";
import Lin from "../../home/icons/linterna.astro";
---

<Layout>
    <div class="absolute left-0 top-0">
        <Lin />
    </div>
    <div class="absolute top-0 right-0">
        <Lin />
    </div>
    <div class="flex justify-center items-center absolute inset-0">
        haiku haiku
    </div>
</Layout>
