---
import Layout from "../../layouts/haikus-layout.astro";
import Bonsai from "../../home/icons/bonsai.astro";
---

<Layout>
    <div class="h-screen flex justify-center items-center w-screen">
        haiku haiku haiku
    </div>
    <div class="flex justify-end">
        <Bonsai />
    </div>
</Layout>
