---
import Layouts from "../../layouts/haikus-layout.astro";
import Flor from "../../home/icons/florModifi.astro";
import Hoja from "../../home/icons/hoja.astro";
import Circle from "../../home/icons/circle.astro";
import Flor2 from "../../home/icons/florModifi2.astro";
---

<Layouts>
    <div class="relative">
        <Flor />
    </div>

        <p class="text-center">Palabras que</p>
        <p class="text-center">burbujean como</p>
        <p class="text-center">un refresco</p>


    <div class="absolute right-[3rem] bottom-[-65rem]">
        <Hoja />
    </div>
</Layouts>
