---
import Layout from "../../layouts/haikus-layout.astro";
import Koi from "../../home/icons/koi.astro";
---

<Layout>
    <div class="fixed -z-10 h-screen flex justify-center items-center w-screen">
        <Koi />
    </div>
    <div class="h-screen flex justify-center items-center w-screen">
        texto del haiku
    </div>
</Layout>
