---
import Layout from "../../layouts/haikus-layout.astro";
import Lin from "../../home/icons/linterna.astro";
---

<Layout>
    <div class="fixed -z-10 h-screen flex justify-center items-center w-screen">
        <Lin />
    </div>
    <div class="h-screen flex justify-center items-center w-screen">
        texto del haiku
    </div>
</Layout>
