---
import layout from "../../layouts/haikus-layout.astro";
import Paraguas from "../../home/icons/paraguas.astro";
---

<layout>
    <div class = "justify-items-start h-screen">
        <Paraguas />
    </div>

    <div class = "flex justify-end">
        <Paraguas />
    </div>
</layout>
