---
import Layouts from "../../layouts/haikus-layout.astro";
import Flor from "../../home/icons/florModifi.astro";
import Hoja from "../../home/icons/hoja.astro";
---

<Layouts>
    <Flor />
    <p>Palabras que burbujean como un refresco</p>

    <Hoja />
</Layouts>
