---
import Layouts from "../../layouts/haikus-layout.astro";
import Flor from "../../home/icons/florModifi.astro";
import Hoja from "../../home/icons/hoja.astro";
---

<Layouts>
    <div class="h-screen">
        <Flor />

        <p class="text-center">Palabras que</p>
        <p class="text-center">burbujean como</p>
        <p class="text-center">un refresco</p>
    </div>

    <div class="flex justify-end">
        <Hoja />
    </div>
</Layouts>
