---
import Layouts from "../../layouts/haikus-layout.astro";
import Circulo from "../../home/icons/circle.astro";
---

<Layouts>
    <div class="relative h-screen">
        <div class="border-b-4 border-[#000000] absolute bottom-[18%] rigth-0">
            <Circulo />
        </div>
    </div>
</Layouts>
