---
import Layout from "../../layouts/haikus-layout.astro";
import Laguna from "../../home/icons/laguna.astro";
---

<Layout>
    <div class="fondo">
        <div class="flex justify-center items-center h-screen">
            <Laguna />
        </div>
    </div>
</Layout>
