---
import Layout from "../../layouts/haikus-layout.astro";
import Laguna from "../../home/icons/Laguna.astro";
---

<Layout>
    <div class="flex justify-center items-center h-screen">
        <Laguna />
    </div>
</Layout>
