---
import Layout from "../../layouts/haikus-layout.astro";
import Laguna from "../../home/icons/laguna.astro";
import Blas from "../../home/icons/columna.astro";
---

<Layout>
    <div class="fondo">
        <div class="flex streth flex-col justify-center items-center h-screen">
            <Laguna />
        </div>
    </div>
    <div class="line">
        <div class="flex flex-col">
            <Blas />
        </div>
    </div>
</Layout>
