---
import HaikusLayout from "../../layouts/haikus-layout.astro";
import Luna from "../../home/icons/Luna.astro"; 
import Montaña from "../../home/icons/"
---

<HaikusLayout>
    <div class="flex justify-center items-center h-screen">
        <Luna />
    </div>
</HaikusLayout>
