---
import Layouts from "../../layouts/haikus-layout.astro";
import Circulo from "../../home/icons/circle.astro";
---

<Layouts>
    <div class="fondo">
        <div class="fondo">
            <h1>hola</h1>
        </div>
    </div>
</Layouts>

<style>
h1{

}

</style>
