---
import Layouts from "../../layouts/haikus-layout.astro";
import Floral from "./icons/floral.astro";
---

<Layouts>
    <div class="absolute bottom-0">
        <Floral />
    </div>
    <div class="h-screen flex justify-center items-center w-screen">
        <slot />
    </div>
</Layouts>
