---
import Layouts from "../../layouts/haikus-layout.astro";
import Floral from "./icons/floral.astro";
import Neko from "./icons/neko.astro";
import Neko2 from "./icons/neko2.astro";
---

<Layouts>
  <div class="relative">
    <div class="flex justify-center items-center absulete bottom-0">
      <Floral />
    </div>
  </div>
  <div class="h-screen flex justify-center items-center w-screen">
    <slot /> 
  </div>

  <div class="absolute bottom-0 right-0 xs:right-[-90px]">
    <Neko2 />
  </div>

  <div class="absolute bottom-0 left-0 xs:left-[-90px]">
    <Neko />
  </div>
  
</Layouts>


