---
import Cuadro1 from "./icons/cuadro1.astro";
import Layout from "../../layouts/haikus-layout.astro";
---

<Layout>

  <div class="absolute bottom-0 right-0 "> 
    <Cuadro1 />
  </div>
  <slot />
</Layout>
