---
import HaikuSection from "@haiku/haiku-section.astro";
---

<HaikuSection>
	<div class="relative bg-delft_blue h-full rounded-tablet">
		<div class="absolute h-full w-full" canva-bg-atomic></div>
		<div class="flex justify-start items-start h-full">
			<div class="relative z-10 prose prose-p:text-atomic_tangerine m-4 prose-p:font-bold">
				<slot />
			</div>
		</div>
	</div>
	<script>
		import { createBodies } from "./bodies";
		import { createCanvas } from "@utils/matterjs/canvas";
		import { Engine } from "@utils/matterjs/engine";

		const containers = document.querySelectorAll(`[canva-bg-atomic]`);
		containers.forEach((container) => {
			const canvas = createCanvas({ container });
			const bodies = createBodies(canvas);
			const engine = new Engine({
				canvas,
				bodies,
			});

			engine.run();
		});
	</script>
</HaikuSection>
