---
import HaikuSection from "@haiku/haiku-section.astro";
---

<HaikuSection>
	<div class="relative bg-delft_blue h-full rounded-tablet">
		<div class="absolute h-full w-full" canva-bg-atomic></div>
		<div class="flex justify-start items-start h-full">
			<div class="relative z-10 prose prose-p:text-atomic_tangerine m-4 prose-p:font-bold">
				<slot />
			</div>
		</div>
	</div>
	<script>
		import Matter from "matter-js";
		import { createBodies } from "./bodies";
		import { createCanvas } from "@utils/matterjs/canvas";

		const containers = document.querySelectorAll(`[canva-bg-atomic]`);
		containers.forEach((container) => {
			const canvas = createCanvas({ container });
			const engine = Matter.Engine.create();
			const render = Matter.Render.create({
				canvas,
				engine,
				options: {
					width: canvas.width,
					height: canvas.height,
					background: "transparent",
					wireframes: false,
				},
			});

			const bodies = createBodies(canvas);
			Matter.World.add(engine.world, bodies);
			Matter.Render.run(render);
			const runner = Matter.Runner.create();
			Matter.Runner.run(runner, engine);
		});
	</script>
</HaikuSection>
