---
import HaikuSection from "@haiku/haiku-section.astro";
---

<HaikuSection>
  <script src="./engine.ts"></script>
  <div class="relative bg-delft_blue h-full tablet:rounded-tablet">
    <div class="absolute canvas-bg-atomic bg-transparent"></div>
    <div class="flex justify-start items-start h-full">
      <div
        class="relative z-10 prose prose-p:text-atomic_tangerine m-4 prose-p:font-bold"
      >
        <slot />
      </div>
    </div>
  </div>
</HaikuSection>
