---
import HaikuSection from "@haiku/haiku-section.astro";
---

<HaikuSection>
  <div class="bg-atomic_tangerine h-full tablet:rounded-tablet">
    <div class="flex justify-center items-center h-full">
      <div class="prose prose-p:text-delft_blue prose-p:font-bold">
        <slot />
      </div>
    </div>
  </div>
</HaikuSection>
