---
import Layout from "../../layouts/haikus-layout.astro";
import Piedra from "./icons/piedra.astro";
---

<Layout>
    <div class="flex justify-center items-center absolute inset-0">
        <slot />
    </div>
    <div class="flex justify-between">
        <div class="absolute bottom-0 left-0">
            <Piedra />
        </div>
        <div class="absolute bottom-0 right-0">
            <Piedra />
        </div>
    </div>
</Layout>
