---
import Layout from "../../layouts/haikus-layout.astro";
import Moneda from "./icons/moneda.astro";
---

<Layout>
    <div class="flex justify-center items-center absolute inset-0">
        <slot />
    </div>
    <div class="absolute left-0 top-0">
        <Moneda />
    </div>
    <div class="absolute top-0 right-0">
        <Moneda />
    </div>


    <div class="flex justify-between">
        <div class="absolute bottom-0 left-0">
            <Moneda />
        </div>
        <div class="absolute bottom-0 right-0">
            <Moneda />
        </div>
    </div>
</Layout>