---
import Layout from "../../layouts/haikus-layout.astro";
import Puente from "./icons/puente.astro";
---

<Layout>
    <div class="h-screen flex items-center justify-end flex-col">
        <div class="mb-[20vh]">
        
          <slot />
        </div>
            <Puente />
    </div>
</Layout>
