:root {
  /* CSS HEX */
  --atomic-tangerine: #fd9678ff;
  --burnt-sienna: #d97c65ff;
  --bright-pink-crayola: #f54768ff;
  --quinacridone-magenta: #974063ff;
  --delft-blue: #41436aff;

  /* CSS HSL */
  --atomic-tangerine: hsla(14, 97%, 73%, 1);
  --burnt-sienna: hsla(12, 60%, 62%, 1);
  --bright-pink-crayola: hsla(349, 90%, 62%, 1);
  --quinacridone-magenta: hsla(336, 40%, 42%, 1);
  --delft-blue: hsla(237, 24%, 34%, 1);

  /* SCSS HEX */
  $atomic-tangerine: #fd9678ff;
  $burnt-sienna: #d97c65ff;
  $bright-pink-crayola: #f54768ff;
  $quinacridone-magenta: #974063ff;
  $delft-blue: #41436aff;

  /* SCSS HSL */
  $atomic-tangerine: hsla(14, 97%, 73%, 1);
  $burnt-sienna: hsla(12, 60%, 62%, 1);
  $bright-pink-crayola: hsla(349, 90%, 62%, 1);
  $quinacridone-magenta: hsla(336, 40%, 42%, 1);
  $delft-blue: hsla(237, 24%, 34%, 1);

  /* SCSS RGB */
  $atomic-tangerine: rgba(253, 150, 120, 1);
  $burnt-sienna: rgba(217, 124, 101, 1);
  $bright-pink-crayola: rgba(245, 71, 104, 1);
  $quinacridone-magenta: rgba(151, 64, 99, 1);
  $delft-blue: rgba(65, 67, 106, 1);

  /* SCSS Gradient */
  $gradient-top: linear-gradient(
    0deg,
    #fd9678ff,
    #d97c65ff,
    #f54768ff,
    #974063ff,
    #41436aff
  );
  $gradient-right: linear-gradient(
    90deg,
    #fd9678ff,
    #d97c65ff,
    #f54768ff,
    #974063ff,
    #41436aff
  );
  $gradient-bottom: linear-gradient(
    180deg,
    #fd9678ff,
    #d97c65ff,
    #f54768ff,
    #974063ff,
    #41436aff
  );
  $gradient-left: linear-gradient(
    270deg,
    #fd9678ff,
    #d97c65ff,
    #f54768ff,
    #974063ff,
    #41436aff
  );
  $gradient-top-right: linear-gradient(
    45deg,
    #fd9678ff,
    #d97c65ff,
    #f54768ff,
    #974063ff,
    #41436aff
  );
  $gradient-bottom-right: linear-gradient(
    135deg,
    #fd9678ff,
    #d97c65ff,
    #f54768ff,
    #974063ff,
    #41436aff
  );
  $gradient-top-left: linear-gradient(
    225deg,
    #fd9678ff,
    #d97c65ff,
    #f54768ff,
    #974063ff,
    #41436aff
  );
  $gradient-bottom-left: linear-gradient(
    315deg,
    #fd9678ff,
    #d97c65ff,
    #f54768ff,
    #974063ff,
    #41436aff
  );
  $gradient-radial: radial-gradient(
    #fd9678ff,
    #d97c65ff,
    #f54768ff,
    #974063ff,
    #41436aff
  );
}
