<section class="h-full snap-start snap-always">
  <div class="h-full max-w-xs m-auto">
    <div class="h-full flex flex-col">
      <div class="grow"></div>
      <div class="max-h-180 rounded-tablet shadow-2xl h-full">
        <slot />
      </div>
      <div class="grow tablet:grow-[2]"></div>
    </div>
  </div>
</section>
