<section class="snap-start h-full snap-always">
  <div
    class="tablet:max-w-xs tablet:max-h-[932px] tablet:mx-auto tablet:p-4 h-full"
  >
    <div class="tablet:rounded-tablet tablet:shadow-2xl h-full">
      <slot />
    </div>
  </div>
</section>
