---
import HaikuSection from "@haiku/haiku-section.astro";
---

<HaikuSection>
  <div class="bg-delft_blue h-full tablet:rounded-tablet">
    <div class="flex justify-center items-center h-full">
      <slot />
    </div>
  </div>
</HaikuSection>
