---
import HaikuSection from "@haiku/haiku-section.astro";
---

<HaikuSection>
  <div class="relative bg-delft_blue h-full rounded-tablet">
    <div class="absolute" canvas-delft-blue></div>
    <div class="flex justify-center items-center h-full">
      <div class="relative z-10 prose prose-p:text-atomic_tangerine">
        <slot />
      </div>
    </div>
  </div>
  <script>
    import Matter from "matter-js";
    import { createBodies } from "./bodies";

    const containers = document.querySelectorAll(`[canvas-delft-blue]`);
    containers.forEach((container) => {
      const parent = container.parentElement;
      const size = parent?.getBoundingClientRect()!;
      const canvas = document.createElement("canvas");
      container.appendChild(canvas);
      const engine = Matter.Engine.create();
      const render = Matter.Render.create({
        canvas,
        engine,
        options: {
          width: size.width,
          height: size.height,
          background: "transparent",
          wireframes: false,
        },
      });

      const bodies = createBodies(size);
      Matter.World.add(engine.world, bodies);
      Matter.Render.run(render);
      const runner = Matter.Runner.create();
      Matter.Runner.run(runner, engine);
    });
  </script>
</HaikuSection>
