---
import BgAtomic from "@backgrounds/mock-bg-atomic-tangerine/index.astro";
import BgDelft from "@backgrounds/mock-bg-delft-blue/index.astro";
import "../styles/global.css";

const bgs = [BgAtomic, BgDelft];

import { getCollection } from "astro:content";
const haikus = await getCollection("haikus");
---

<!doctype html>
<html lang="es">
  <head>
    <title>haikus-etec</title>
  </head>
  <body>
    <div
      class="bg-burnt_sienna h-screen snap-mandatory snap-y overflow-y-scroll"
    >
      {
        haikus.map((haiku, index) => {
          const BgFrame = bgs[index % bgs.length];
          return (
            <div class="snap-start h-full snap-always">
              <BgFrame>{haiku.body}</BgFrame>
            </div>
          );
        })
      }
    </div>
  </body>
</html>
