---
import HaikusLayout from "../../layouts/haikus-layout.astro";
import Arroz from "./icons/arroz.astro";
---

<HaikusLayout>
	<div class="h-screen flex justify-center items-center w-screen">
		<slot />
	</div>
	<div class="flex justify-end">
		<Arroz />
	</div>
</HaikusLayout>
