---
import Luna from "./icons/Luna.astro";
import Montana from "./icons/montana.astro";
---

<div class="h-screen">
    <div class="max-w-xl mx-auto">
        <div class="flex justify-center items-center">
            <Luna />
        </div>
        <div class="h-20" style="color: #1e3050;">
            <Montana />
        </div>
    </div>
</div>
