---
import Luna from "./icons/Luna.astro";
import Montana from "./icons/montana.astro";
---

<div class="flex items-center h-screen">
    <div class="mx-auto">
        <div class="">
            <Luna />
        </div>
        <div class="h-20" style="color: #1e3050;">
            <div class="flex justify-center items-center mr-1">
                <Montana />
            </div>
        </div>
    </div>
</div>
