---
import Layout from "../../layouts/haikus-layout.astro";
import Templo from "./icons/templo.astro";
---

<Layout>
  <div class="h-screen flex items-center justify-end flex-col">
<div class="mb-[20vh]">

  <slot />
</div>
    <Templo />
  </div>
  
</Layout>
