---
import Layout from "../../layouts/haikus-layout.astro";
import Medio from "./icons/medio.astro";
---

<Layout>
	<div class="fixed -z-10 h-screen flex justify-center items-center">
		<Medio />
		<div class="h-screen flex justify-center items-center">
			<slot />
		</div>
	</div>
</Layout>
