---
import Head from "./components/head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config/consts";
import type { Haiku } from "../models";

export interface Props {
  title?: string;
  description?: string;
  haiku?: Haiku;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  haiku,
}: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body class="bg-light">
    <main class="max-w-xl mx-auto">
      <slot />
    </main>
  </body>
</html>
