---
import Layout from "../../layouts/haikus-layout.astro";
import Columnas from "./icons/columna.astro";
import Circulo from "./icons/SolNaranja.astro";
import Taza from "./icons/taza.astro";
---

<Layout>
    <div class="h-screen flex flex-col items-center justify-between">
        <div class="w-52">
            <Columnas />
        </div>

        <div
            class=" fixed -z-10 h-screen w-screen flex flex-col justify-center items-center">
            <Circulo />
        </div>

        <div
            class=" fixed -z-10 h-screen w-screen flex flex-col justify-center items-center">
            <Taza />
        </div>

        <div class="">
            <slot />
        </div>

        <div class="w-52">
            <Columnas />
        </div>
    </div>
</Layout>
